/* common styles */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --regular-text:16px;
    --card-text: 28px;
    --top-bg:#2D25A0;
    --btn-bg:#E02C6D;
    --card-text-color:#6C6C6C;
}

.container{
    width: 1140px;
    margin: auto;
}

/* menubar style */

#nav-bar{
    background-color: var(--top-bg);
    padding-bottom: 60px;
}

.menu-bar{
    height: 100px;
    display: flex;
    align-items: center;
}

.menu{
    width: 50%;
}

.menu-items{
    display: flex;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
    padding: 0 20px;
    font-size: var(--regular-text);
}

.menu-items a{
    text-decoration: none;
    color:white;
}

.login-btn{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.login-btn button{
    padding:8px 30px;
    font-size: var(--regular-text);
    background-color: var(--btn-bg);
    border: none;
    outline: none;
    color: white;
    border-radius: 2px;
}

.login-btn button a{
    text-decoration: none;
    color: white;
    font-size: var(--regular-text);
}

.login-btn button i{
    margin-right: 15px;
}

/* home section styles */

#home{
    background-color: var(--top-bg);
    padding-bottom: 80px;
}

.home-section{
    display: flex;
}

.home-heading{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-heading h1{
    color: white;
    font-size: 4em;
    margin-bottom: 20px;

}

.watch-btn{
    padding:8px 15px;
    font-size: var(--regular-text);
    background-color: var(--btn-bg);
    border: none;
    outline: none;
    color: white;
    border-radius: 2px;
    width: 145px;
}

.watch-btn a{
    text-decoration: none;
    color: white;
    font-size: var(--regular-text);
}

.home-heading i{
    margin-left: 10px;
}

.home-image{
    width: 50%;
}

.home-image img{
    width: 100%;
}

/* player section styles */

#player-section{
    margin-top: 80px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}

.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player img{
    width: 100%;
}

.player-info{
    padding: 15px;
}

.player-info h1{
    font-size: var(--card-text);
}

.player-info p{
    color: var(--card-text-color);
    font-size: var(--regular-text);
}