/* ----------
common styles
------------- */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --regular-text:16px;
    --card-text: 28px;
    --top-bg:#2D25A0;
    --btn-bg:#E02C6D;
    --card-text-color:#6C6C6C;
    --text-color:#0A0826;
}

.container{
    width: 1140px;
    margin: auto;
}

/*-----------
menubar style
-----------*/

#nav-bar{
    background-color: var(--top-bg);
    padding-bottom: 60px;
}

.menu-bar{
    height: 100px;
    display: flex;
    align-items: center;
}

.menu{
    width: 50%;
}

.menu-items{
    display: flex;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
    padding: 0 20px;
    font-size: var(--regular-text);
}

.menu-items a{
    text-decoration: none;
    color:white;
}

.login-btn{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.login-btn button{
    padding:8px 30px;
    font-size: var(--regular-text);
    background-color: var(--btn-bg);
    border: none;
    outline: none;
    color: white;
    border-radius: 2px;
}

.login-btn button a{
    text-decoration: none;
    color: white;
    font-size: var(--regular-text);
}

.login-btn button i{
    margin-right: 15px;
}

/*----------------- 
home section styles
-----------------*/

#home{
    background-color: var(--top-bg);
    padding-bottom: 80px;
}

.home-section{
    display: flex;
}

.home-heading{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-heading h1{
    color: white;
    font-size: 4em;
    margin-bottom: 20px;

}

.watch-btn{
    padding:8px 15px;
    font-size: var(--regular-text);
    background-color: var(--btn-bg);
    border: none;
    outline: none;
    color: white;
    border-radius: 2px;
    width: 145px;
}

.watch-btn a{
    text-decoration: none;
    color: white;
    font-size: var(--regular-text);
}

.home-heading i{
    margin-left: 10px;
}

.home-image{
    width: 50%;
}

.home-image img{
    width: 100%;
}

/*-------------------
player section styles
-------------------*/

#player-section{
    margin-top: 80px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}

.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player img{
    width: 100%;
}

.player-info{
    padding: 15px;
}

.player-info h1{
    font-size: var(--card-text);
    color: var(--text-color);
}

.player-info p{
    color: var(--card-text-color);
    font-size: var(--regular-text);
}

/*-----------------
 grand finale style
 ----------------*/

#grand-fainal{
    margin-top: 80px;
    margin-bottom: 150px;
}

.fainal-text{
    text-align: center;
    font-size: 2em;
    margin-bottom: 60px;
    color: var(--top-bg);
}

.flags{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flag{
    width: 40%;
    height: 300px;
}

.vs{
    font-size: 3em;
    font-weight: 700;
    font-style: italic;
    color: var(--top-bg);
}

.flag img{
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 40px grey;
}

/*-------------
 wining section
 ------------*/

#argentina-wins {
    margin-bottom: 150px;
}

.win{
    display: flex;
}

.wining-video{
    width: 50%;
}

.wining-video iframe{
    width: 100%;
}

.wining-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.wining-text h1{
    font-size: 3em;
    margin-bottom: 15px;
    color: var(--text-color);
    text-align: right;
}

.wining-text p{
    margin-bottom: 25px;
    width: 404px;
    color: var(--card-text-color);
    text-align: right;
}

/*----------------------
highlight section styles
----------------------*/

#highlight-section{
    margin-top: 100px;
}

.highlights{
    display: flex;
}

.highlight-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight-text h1{
    font-size: 3em;
    margin-bottom: 15px;
    color: var(--text-color);
}

.highlight-text p{
    margin-bottom: 25px;
    width: 404px;
    color: var(--card-text-color);
}

.highlight-text i{
    margin-left: 10px;
}

.highlight-img{
    width: 50%;
}

.highlight-img img{
    width: 100%;
}

/*---------------------
copyright section style
---------------------*/

#copyright-section{
    margin-top: 100px;
    margin-bottom: 60px;
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.football-img{
    width: 40%;
    margin-bottom: 20px;
}

.football-img img{
    width: 100%;
}

.social-icons{
    width: 18%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.icons{
    background-color: #80808040;
    color: #969BAB;
    padding: 5px 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.copyright-text h3{
    font-size: 18px;
    color: black;
    font-weight: 500;
}

/*--------------
header animation
--------------*/

@keyframes up-down {

    100%{
        transform: translateX(60%);
        -webkit-transform: translateX(60%);
        -moz-transform: translateX(60%);
        -ms-transform: translateX(60%);
        -o-transform: translateX(60%);
}
}

#home:hover img{
    animation: up-down 2s cubic-bezier(0.4, 0, 1, 1) infinite alternate-reverse both;
}

#home{
    animation-delay: 25s;
}

/*----------------
 mobile responsive
 ---------------*/

@media screen and (max-width:689px) {

    @keyframes up-down {
        100%{
            transform: translateX(0%);

        }
    }

    .container{
        width: 100%;
    }

    header{
        display: none;
    }
    
    #home:hover img{
        animation: off    ;
        -webkit-animation: off    ;
    }
    
    .home-heading {
        width: 65%;
        padding: 60px;
    }
    
    .home-section {
        flex-direction: column;
    }
    
    .home-image {
        width: 100%;
    }

    .home-heading h1 {
        font-size: 3em;
    }
    
    button.watch-btn {
        margin-bottom: 50px;
    }
    
    .players {grid-template-columns: repeat(1,1fr);}
    
    article.player {
        margin: auto;
    }

    .flags {
        flex-direction: column;
    }
    
    .flag {
        width: 80%;
        height: auto;
    }

    .win {
        flex-direction: column;
    }
    
    .wining-video {
        order: 2;
        width: 85%;
        margin: auto;
    }
    
    .wining-text {
        width: 80%;
        align-items: center;
        margin: auto;
    }
    
    .wining-text h1 {
        text-align: center;
    }
    
    .wining-text p {
        text-align: center;
        width: 80%;
    }

    .highlights {
        flex-direction: column;
    }
    
    .highlight-text {
        width: 80%;
        margin: auto;
        text-align: left;
    }
    
    .highlight-text p {
        width: 80%;
        text-align: left;
    }
    
    .highlight-img {
        width: 80%;
        margin: auto;
    }

    .social-icons {
        width: 200px;
    }
    
    footer#copyright-section {
        margin-top: 80px;
    }

}

/*--------------
table responsive
--------------*/

@media only screen and (min-width:690px) and (max-width:1156px)  {
    
    @keyframes up-down {
        100%{
            transform: translateX(0%);
        }
    }

    .container {
        width: 100%;
    }
    
    .menu {
        width: 65%;
    }
    
    .menu-items li {
        padding: 0px 20px;
    }
    
    .login-btn {
        width: 35%;
        justify-content: center;
    }


    .home-heading {
        width: 40%;
    }
    
    .home-image {
        width: 40%;
        display: flex;
        align-items: center;
    }
    
    .home-section {
        justify-content: center;
    }

    ul.menu-items {
        justify-content: space-evenly;
    }

    .players {
        grid-template-columns: repeat(2,1fr);
        margin: auto;
    }
    
    article.player {
        width: 300px;
        height: 450px;
        margin: auto;
    }

    .flags {
        flex-direction: column;
    }
    
    .flag {
        width: 70%;
        height: auto;
    }

    .win {
        flex-direction: column;
    }
    
    .wining-video {
        width: 75%;
        margin: auto;
        order: 2;
        margin-top: 50px;
    }
    
    .wining-text {
        width: 80%;
        align-items: center;
        margin: auto;
    }
    
    .wining-text h1 {
        text-align: center;
    }
    
    .wining-text p {
        text-align: center;
        width: 80%;
    }

    #argentina-wins {
        margin-bottom: 80px;
    }

    .highlights {
        flex-direction: column;
    }
    
    .highlight-text {
        width: 80%;
        margin: auto;
        text-align: left;
        margin-bottom: 40px;
    }
    
    .highlight-text p {
        width: 80%;
        text-align: left;
    }
    
    .highlight-img {
        width: 80%;
        margin: auto;
    }

    .social-icons {
        width: 30%;
    }

}